.App {
  text-align: center;
}

.cityLists {
  display: flex;
  justify-content: space-between;
  border: 2px solid #2af018;
  border-radius: 30px;
  padding: 30px 20px;
  margin-top: 30px;
}
.cityOne {
  border-top: groove;
  border-bottom: groove;
  border-radius: 10px;
  padding: 15px;
  cursor: pointer;
  width: 205px;
}
.cityOne:hover {
  background-color: #dbf2eb;
  box-shadow: 5px 10px #888888;
}

.innerCity {
  list-style: none;
}
.innerCity span {
  font-weight: 600;
}
.cityName {
  font-size: 20px;
  font-weight: 500;
}
.cityText {
  text-align: center;
}

.selectForm {
  border-radius: 20px !important;
}

.selectMenu {
  font-weight: 600;
}

.form-select {
  font-weight: 600 !important;
}
